@charset "utf-8";
$clearIconSize: $px * 36;
.clear-input {
    width: 100%;
    height: $px * 36;
    box-sizing: border-box;
    padding: 0 $clearIconSize 0 0;
    border: 0;
    display: inline-block;
    vertical-align: middle;
}

.clear-icon{
    width: $clearIconSize;
    height: $clearIconSize;
    background: url($iconClear) no-repeat center center;
    background-size: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-left: - $clearIconSize;
}

[data-skill~=eye]+.clear-icon {
    width: $clearIconSize;
    height: $clearIconSize;
    background: url($iconClear) no-repeat center center;
    background-size: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-left: - $clearIconSize * 2;
}

.eye-cion {
    width: $clearIconSize;
    height: $clearIconSize;
    display: inline-block;
    vertical-align: middle;
    margin-left: - $clearIconSize;
}
.eye-cion.close-eye{
    background: url($iconCloseEye) no-repeat center center;
    background-size: 50%;
}
.eye-cion.open-eye{
    background: url($iconOpenEye) no-repeat center center;
    background-size: 50%;
}

.clear-icon+.eye-cion {
    margin-left: 0;
}